div.disappear {
  background-image: url(../images/desktop/disappear-here.jpg);
  background-size: cover;
  background-position: center center;
}

div.wc {
  background-image: url(../images/desktop/wc.jpg);
  background-size: cover;
  background-position: center center;
}

div.detail-backboard {
  background-image: url(../images/desktop/detail-backboard.jpg);
  background-size: cover;
}

div.outside {
  background-image: url(../images/desktop/outside.jpg);
  background-size: cover;
}

div.detail-shelves {
  background-image: url(../images/desktop/detail-shelves.jpg);
  background-size: cover;
}

div.detail-lager {
  background-image: url(../images/desktop/detail-lager.jpg);
  background-size: cover;
}

div.disappear, div.wc {
  background-repeat: no-repeat;
  border-bottom: 5px solid #000000;
  height: 100vh;
}

div.collage {
  height: 100vh;
}

div.detail-backboard, div.outside, div.detail-shelves, div.detail-lager {
  border-top: 0.5vh solid #000000;
  border-bottom: 0.5vh solid #000000;
  border-left: 0.5vw solid #000000;
  border-right: 0.5vw solid #000000;
  height: 49vh;
}

div.box {
  position: absolute;
  left: 5vw;
  top: 50vh;
}

div.logo {
  background-image: url(../images/desktop/logo-white.png);
  width: 18vw;
  height: 40vh;
  float: left;
  background-position: top center;
}

div.info {
  padding: 5px;
  height: auto;
  float: left;
}

div.info p {
  font-size: 1.90vh;
}
