div.disappear {
  background-image: url(../images/mobile/disappear-here.jpg);
  background-size: cover;
  background-position: center center;
}

div.wc {
  background-image: url(../images/mobile/wc.jpg);
  background-size: cover;
  background-position: center center;
}

div.detail-backboard {
  background-image: url(../images/mobile/detail-backboard.jpg);
  background-size: cover;
}

div.outside {
  background-image: url(../images/mobile/outside.jpg);
  background-size: cover;
}

div.detail-shelves {
  background-image: url(../images/mobile/detail-shelves.jpg);
  background-size: cover;
}

div.detail-lager {
  background-image: url(../images/mobile/detail-lager.jpg);
  background-size: cover;
}

div.box {
  position: absolute;
  left: 5vw;
  top: 10vh;
}

div.collage {
  height: 50vh;
}

div.detail-backboard, div.outside, div.detail-shelves, div.detail-lager {
  border-top: 0.5vh solid #000000;
  border-bottom: 0.5vh solid #000000;
  border-left: 0.5vw solid #000000;
  border-right: 0.5vw solid #000000;
  height: 24vh;
}

div.disappear, div.wc {
  background-repeat: no-repeat;
  border-bottom: 5px solid #000000;
  height: 50vh;
}

div.logo {
  background-image: url(../images/mobile/logo-white.png);
  height: 20vh;
  background-position: top left;
}

div.info {
  padding: 5px;
  height: auto;
  margin-top: 2vh;
}

div.info p {
  font-size: 1.90vh;
}
